*{
    margin: 0;
    padding: 0;
}

:root{

    background-color: #60975E;

}


/*
    Branco suave - #F0F0E8
    Verde - #5C9950
    Verde escuro - #2D4828
    Cinzas escuro - #6E7973
    Cinza base - #C3C7C4
*/