header{
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    padding: 1rem;
    display: flex;
    align-items: center;

    & .logo{
        width: 50px;
        height: 50px;
    }

    & .barra-de-pesquisa{

        padding-inline: .5rem;

        display: flex;
        align-items: center;

        width: 303px;
        height: 28px;

        border-radius: 8px;

        background-color: #d9d9d9;

        margin-left: 25px;

        & .input-pesquisa{
            background-color: transparent;
            border: none;

            width: 280px;

            font-family: "Inter", sans-serif;
            font-weight: 700;
            font-size: 12px;
            line-height: 100%;

            color: #000;
            opacity: 50%;

            &::placeholder{

                font-family: "Inter", sans-serif;
                font-weight: 700;
                font-size: 12px;
                line-height: 100%;

                color: #000;
                opacity: 50%;
            }

            &:focus{
                outline: none;
            }
        }

        & .icon-lupa{
            width: 16px;
            height: 16px;

            margin-left: auto;

            cursor: pointer;

            opacity: 50%;
        }
    }

    & .icon-fone{
        width: 24px;
        height: 24px;

        margin-left: 300px; 

        cursor: pointer;
    }

    & span{

        font-family: "Inter", sans-serif;
        font-weight: 600;
        font-size: 12px;
        line-height: 100%;

        cursor: pointer;

        margin-left: 7px;

        color: #F0F0E8;
    }

    & .icon-car{
        width: 24px;
        height: 24px;

        margin-left: auto;

        cursor: pointer;
    }

    & .icon-user{
        width: 24px;
        height: 24px;

        margin-left: 25px;

        cursor: pointer;
    }
} 