.session-below-header{
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding-inline: 1rem;

    margin-top: 1rem;

    & div{
        display: flex;
        align-items: center;
        gap: .5rem;

        cursor: pointer;

        border: 1px solid transparent;

        transition: 500ms;

        &:hover{
            border-bottom: 1px solid rgba(0, 0, 0, 0.3);
        }

        & span{
            font-family: "Inter", sans-serif;
            font-weight: 600;
            font-size: 12px;
            line-height: 100%;

            color: #F0F0E8;
        }

        & img{
            width: 13px;
            height: 13px;
        }
    }
}